<h1><%= @list.name %></h2>


<%= link_to "Back", lists_path %>

<%# a button to add a new movie which routes to new movie page form %>

<%# display movies in this list with all the details
be able to book mark movies here i think %>
